.from-this-structure {
    stroke-width: 2;
    stroke: black;
}

.highlight-circle {
    stroke: black;
    stroke-width: 1;
    fill: black;
    opacity: 0;
}

.guide-line {
    opacity: 0.0;
    stroke: #ccc;
    stroke-width; 2;
}

.text-highlight-rect {
    stroke-width: 1;
    fill: black;
    stroke: black;
    opacity: 0.3;
    visibility: hidden;
}

.rna-base {
    opacity: 0.2;
    fill: white;
    stroke-width: 0.5;
    stroke: black;
}

.selected {
    opacity: 1.0;
}

.text-selected {
    visibility: visible;
}

.guide-selected { 
    opacity: 1.0;
}

.structure-background-rect {
    fill: transparent;
    stroke-width: 0.5;
    stroke: black;
    opacity: 0.05;
}

text {
    font: 8px sans-serif;
}
